*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/* Menu principal */

.main{
    width: calc(100% - 250px);
    background-color: rgb(30, 30, 30);
    height: 100%;

    float: left;
    padding: 15px 50px;
    overflow-y: auto;
}
 
.main__row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-wraper{
    padding-bottom: 200px;
}

.main__row__title{
    width: 100%;
}

.main__row__title h2{
    color: white;
}

.colunas{
    cursor: pointer;
    width: 10%;
    margin-right: 1%;
    margin-top: 20px;

    background-color: #282828;
    border-radius: 8px;
    padding: 10px;

    text-align: center;
}

.colunas:hover{
    background-color: #545454;
    transition: all 1200ms ease;
    
}

.colunas h3{
    color: white;
    margin: 8px 0;
}

.colunas p{
    color: #bdbebd;
    font-size: 13px;
    text-align: left;
}

.img{
    width: 140px;
    height: 140px;
}


/*  */

.player{
    width: 100%;
    padding: 20px;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    background-color:#282828;
}

.player_control{
    width: 70%;
    text-align: center;
    position: absolute;
    margin-left: 200px;

}

.player-artist{
    width: 50%;

}

.player_artist img{
    display: inline-block;
    max-width: 60px;
    vertical-align: middle;
}
.player_artist h3{
    display: inline-block;
    color: white;
    font-weight: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.player-artist h3 > span{
    color: rgb(200,200,200);
    font-size: 13px;
}

.player_control_buttons a{
    color: white;
    margin: 8px 15px;
    font-size: 18px;
}

.player_control_progresso{
    width: 100%;
    max-width: 600px;
    height: 7px;
    margin-top: 10px;
    position: relative;
    border-radius: 8px;
    display: inline-block;
    background-color: #800180;
}

.player_control_progresso2{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 7px;
    border-radius: 8px;
    background-color: #44123e;
}

@media screen and (max-width:1700px) {
    .colunas{
        width: 20%;
    }
}

@media screen and (max-width: 758px) {
    .colunas{
        width: 48px;
        margin-right: 2%;
    }
    .sidebar{
        display: none;
    }
    .main {
        width: 100%;
    }
}

