* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.a{
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 18px;
    margin-top: 50px ;
}

#nav{
    display: flex;
    border-bottom:  1px solid rgb(0, 0, 0, 0.2);
    justify-content: center;
}

#nav .div-conteiner-nav{
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.lista-ddd{
    text-align: center;
}

#ddd{
    height: 50px;
    width: 100px;
    text-align: left;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 18px;
}

#ddd:hover{
    border: 2px solid black;
}

#number {
    width: 250px;
    height: 50px;
    text-align: left;
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
}

.lembrar {
    text-align: center;
    margin-top: 15px;
    padding: 3px;
}

.lembrar input{
    display: none;
}

.lembrar input + label:before{
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 18px;
    vertical-align: middle;
    margin-top: 12px;
}

.lembrar input:hover + label::before{
    border: 1px solid black;
}

.lembrar input:checked + label::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #800180;
}   

.avancar{
    width: 150px;
    height: 50px;

    margin-left: 5%;
    margin-top: 15px;

    border: none;
    border-radius: 30px;
    background-color: #44123e;
}

.txt{
    font-size: 15px;
    font-family: sans-serif;
}

.avancar:hover {
    border: 1px solid black;
    color: #fff;
    background-color: #800180;
}



.h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.p{
    text-align: center;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    border-top: 2px;
    position: relative;
}

p{
    margin-top: 5px;
}

#email-senha{
    text-align: start;
    padding: 15px;
    width: 450px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    display:inline-block;
    margin-top: 10px;
    font-size: 15px;
}

.input-email{
    margin-top: 20px;
    position: relative;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}

.conteiner{
    text-align: left;
    margin: 0 38.5%;
}

#btt-enviar{
    background-color: #44123e;
    width: 110px;
    height: 50px;
    border: 1px solid none;
    border-radius: 25px;
    border: none;
}

.bottom{
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

.botao{
    text-align: center;
    padding: 5px;
}

#btt-enviar:hover {
    border: 1px solid black;
    color: #fff;
    background-color: #800180;
    color: #fff;
    width: 110px;
    height: 50px;
    cursor: pointer;
}

.link{
    color: black;
}